body {
  
  font-family: Helvetica;
  background-color: #25dab2;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  
  max-width: 500px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  background: transparent;
}

header {
  text-align: center;
  font-size: 20px;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #25dab2, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
} 

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
} 

.new-goal input {
  text-align: left;
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 1;
}
ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
li .text {
  margin-left: 10px;
}
li.checked {
  color: rgb(10, 10, 10);
  
}
li.checked .text {
  text-decoration: line-through;
  
}
li.private {
  background: #eee;
  border-color: #ddd;
}
header .hide-completed {
  float: right;
}
.toggle-private {
  margin-left: 5px;
}
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
  .search {
    width: 150px;
    clear: both;
  }
  .new-goal input {
    padding-bottom: 5px;
  }
}

/* Adding their shit just to see if I can get the images*/
.TouchBarButton {
  width: 4em;
  height: 4em;
  padding: 0px;
  
  box-shadow: 0px 3px 5px;
  border-radius: 2em;
  outline: none;
}
.LocButton{
  width: 4em;
  height: 4em;
  padding: 0px;
  background:transparent;
  background-image: url('/images/arrow1.png');
  background-size: 500%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: auto;
  border:none;
  outline: none;
}
.CalButton{
  background:transparent;
  width: 4em;
  height: 4em;
  padding: 0px;
  background-image: url('/images/calendar2.png');
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  outline: none;
  border-radius: auto;
}
.HomeButton{
  background:transparent;
  width: 4em;
  height: 4em;
  padding: 0px;
  background-image: url('/images/1home.png');
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border:none;
  border-radius: auto;
}
.GTButton{
  background:transparent;
  width: 4em;
  height: 4em;
  padding: 0px;
  background-image: url('/images/goal.png');
  background-size: 175%;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  outline: none;
  border-radius: auto;
}
.EduButton{
  background:transparent;
  width: 4em;
  height: 4em;
  padding: 0px;
  background-image: url('/images/education.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  outline: none;
  border-radius: auto;
}
.SettingsButton{
  background:transparent;
  width: 4em;
  height: 4em;
  padding: 0px;
  background-image: url('/images/settings.png');
  background-size: 250%;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  outline: none;
  border-radius: auto;
}

.AHEC {
  background-image: url('/images/GreensboroAHEC.jpg');
  background-repeat: no-repeat;
  background-color: white;
  background-size: 30% 100%;
  position: relative;
  width: 100%;
  height: 10%;
}

.CURE {
  background-image: url('/images/CURESymbol.jpg');
  background-size: 100% 50%;
  background-repeat: no-repeat;
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 45%;
}

.CENTER {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0px 3px 5px;*/
  position: relative;
}

.TouchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20%;
  margin-bottom: 3.5%;
  border-radius: 2em;
  /*box-shadow: 0px 3px 5px;*/
}

h3.center {
  text-align: center;
}

ul.center {
  text-align: center;
}

.done {
	text-decoration: line-through;
}

.buttonDeco {
  font-size: 2em;
  font-family: 'Algerian';
  background-color: lightblue;
  /*border: none;*/
  border-color: grey;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 4.5em;
  height: 4.5em;
  border-radius: 80%;
  padding: 15px 32px;
  box-shadow: 0px 3px 5px;
  outline: none;
}