/* MAIN PAGE */


/*---------------------------------------------------------------------------*/

html,
body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
}

.bg-purple {
    background-color: purple;
}

.border-thick {
    border-width: thick;
}

.bg-bluecoral {
    background-color: rgb(113, 226, 207);
}


/* Container for all pages and the button bar */

.Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    /*box-shadow: 0px 3px 5px;*/
}
/* Editing container sizes */


/* Moving containers down from the top of the screen */

.bottom-buffer-sm {
    margin-bottom: 10px;
}

.bottom-buffer-sm-2 {
    margin-bottom: 20px;
}

.top-buffer-sm {
    margin-top: 10px;
}

.top-buffer {
    margin-top: 70px;
}

.top-buffer-lg {
    margin-top: 90px;
}

.top-bufferX2 {
    margin-top: 140px;
}

.top-buffer2 {
    margin-top: 30px;
    padding-bottom: 1em;
}

/* Button modification classes */

.btn-width-m {
    width: 100px;
}

.btn-width-lrg {
    width: 150px;
}

.btn-height-m {
    height: 40px;
}

.fill {
    min-height: 100%;
    height: 100%;
}


/* The invisible container which holds all pages that users can choose */

/* .dynamic {
    width: 100%;
    height: 100%;
} */


/* Greensboro AHEC Logo to be displayed on main page */

.AHEC {
    background-image: url('/images/GreensboroAHEC.jpg');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 30% 100%;
    position: relative;
    width: 100%;
    height: 15%;
}

/*Dropdown menu stuff */
.dropdown{
  position: relative;
}
.dropdown-menu{
  position: relative;
  background: #343a40;
}
.dropdown-toggle{
  background-color: transparent;
}
.dropdown-content{
  background-color: #343a40;
}

/* CURE background image to be displayed on main page */

.CURE {
    background-image: url('/graphics/home.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 5%;
    width: 100%;
    height: 100%;
}
.cbg{
    background-image: url('/images/home-1.png');
    
    background-size: 100% 100%;
    background-repeat: repeat-x;
    position: center;
}

/* Description of CURE */

.mainpagedesc {
    text-align: center;
    background-color: white;
    /*box-shadow: 0px 3px 5px;*/
    position: relative;
}


/* Holds the hot dial button */

.HotDial {
    z-index: 5;
    position: relative;
    top: 40%;
}


/* Actual hot dial button */

.hotDialButtonClass {
    font-size: 2em;
    background-color: lightblue;
    /*border: none;*/
    border-color: grey;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 4.5em;
    height: 4.5em;
    border-radius: 80%;
    padding: 15px 32px;
    box-shadow: 0px 3px 5px;
    outline: none;
}


/* The invisible container holding every button and the button bar to keep the bar staticly the same */

.TouchBarContainer {
    width: 100%;
}


/* The bar actually holding the buttons */

.TouchBar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    padding: 10px;
    width: 100%;
    /*box-shadow: 0px 3px 5px;*/
    background-color: rgb(3, 197, 3);
    border-top: 2px solid;
}


/* Every button on the button bar in main.html */

.btn-outline-info {
    outline: none;
    border: none;
}

.LocButton {
    width: 4em;
    height: 4em;
    padding: 0px;
    background: transparent;
    background-image: url('/images/arrow1.png');
    background-size: 500%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: auto;
    border: none;
    outline: none;
}

.CalButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/calendar2.png');
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}

.HomeButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/1home.png');
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    border-radius: auto;
}

.GTButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/goal.png');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}

.EduButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/education.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}

.SettingsButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/settings.png');
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}


/*----------------------------------------------------------------------------*/


/* HOTDIAL PAGE */


/*----------------------------------------------------------------------------*/


/* Title bar */

.hotdialtitle {
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
}

.hotdialdesc {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}


/* Hotdial container for all buttons */

.hotdialButtons {
    width: 100%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*box-shadow: 0px 3px 5px;*/
    position: relative;
}

.ADDHDButton {
    background: None;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 3em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 1.25em;
    border-width: 0px;
    background-color: white;
    border-color: grey;
    text-align: left;
}


/* Every button inside of hotdial.html */

.GCSTOPButton {
    background: auto;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 3em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 2em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}

.NCHRCButton {
    background: auto;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 3em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 2em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}

.CONEButton {
    background: auto;
    width: 12.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 4.7em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 1.25em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}


/*---------------------------------------------------------------------------*/


/* MAP/LOCATIONS PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for map page */

.map {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------------------------------------------------------------*/


/* CALENDER PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for calendar page */

.calendar {
    text-align: center;
    height: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    bottom: 0;
    border-width: 15px;
    z-index: 1;
}

.fa-calendar {
    color: white;
}

.calTitleForm {
    display: flex;
    flex-direction: column;
    position: relative;
}

.startdateselector {
    position: relative;
}

.enddateselector {
    position: relative;
}

.calMessageForm {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.calendarButtonStyle {
    text-align: center;
    background: auto;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    height: 1.8em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 2em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}


/*---------------------------------------------------------------------------*/


/* GOALTRACKER PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for goaltracker page */

.goaltracker {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.goal_header {
    text-align: center;
    font-size: 20px;
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #25dab2, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-goal input {
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus {
    outline: 1;
}

.goal_list {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: rgb(10, 10, 10);
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

.goal-header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
    .search {
        width: 150px;
        clear: both;
    }
    .new-goal input {
        padding-bottom: 5px;
    }
}


/*---------------------------------------------------------------------------*/


/* EDUCATION PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for education page */

.education {
    background-image: url('/images/ed-head.png');
    background-size: 100% 100%;
    width: 100%;
    height: 30%;
    position: fixed;
    
}

.onlinecourse {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.creditstat {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.spotlight {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.center-of-page {
    top: 60%;
}

.depth1 {
    z-index: 1;
}

.conference {
    background-image: url('/images/header-image2.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 30%;
    position: fixed;
}

.conferencetext{
    position: relative; 
   
    
}
.creditstattext{
    width: 100%;
    height: 100%;
    position: relative; 
}

.handouts {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
   
}

.refresher {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.course {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
    
}

.educationButtons {
    width: 100%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*box-shadow: 0px 3px 5px;*/
    position: relative;
}
.cone {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
    
}
.library {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
    
}
.contact{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
    
}
.multi {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}
.thereach {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
   
}
.pharmacy {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
  
}
.student {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
    
}
.clinical {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
   
}
.residency {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
   
}

/*---------------------------------------------------------------------------*/


/* SETTINGS PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for settings page */

.settings{
  background-image: url('/images/head-settings.png');
  background-color: #25b6da;
  background-size: 100%, 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 40%;
  position: fixed;
  justify-content: center;
  
  
}
.settingsdesc{
 
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;


}
.about h3{
    font-size:16px;
    margin-top:55%;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto; 
    /* justify-content: center; */
}
.theme{
  
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
  
  
  
}
.profile{
  
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
}

.password{
  
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
}

.create{
    margin-top:auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto; 
}

.signup{
    margin-top:auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto; 
}

.notes{
  
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
  
  
}

.settingsdesc {
    font-size: .4em;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    color: rgb(59, 58, 58);
}
/* Settings container for all buttons */

.settingsButtons{
  box-align: start;
  font-size: .4em;
  width: 60%;
  height: 40%;
  margin-top: 50%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-spacing: 5px;
  border: 0;
  /*box-shadow: 0px 3px 5px;*/
  position: relative;
}
.btn{
    margin-left :15px;
    margin-bottom: 2px;
    
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
 
/* Login Container */ 

/*---------------------------------------------------------------------------*/
.logcontainer{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 50px;
    margin-left: 10px;
    color: white;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    font-size:18px;
    /* position: float bottom; */
    color: white;
    }
    
    .card-footer{ /* Don't have an account text*/
    color: white;
    }

    .signup-head p{
        color: white;
     
    }
    .social_icon{
    position: absolute;
    right: 20px;
    top: -15px;
    }
    
    .input-group-prepend span{
    margin-bottom: -1px;
    width: 40px;
    background-color: white;
    color: black;
    /* border:0 !important; */
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color:white;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    .links{
        color: white;
    }
    .links a{
        margin-left: auto;
    }
/*---------------------------------------------------------------------------------*/

/* Themes */

/*---------------------------------------------------------------------------------*/
:root {
    --bg-primary-color: #0f0f0f;
    --fg-color: #a5a2a2;
    --btn-color: #505050;
    --navbutton-color: #505050;
}

.btn-secondary {
    background-color: var(--btn-color) !important;
    color: var(--fg-color) !important;
}
.container-color{
    background-color: var(--bg-primary-color);
    color: var(--btn-color);
}
.btn-outline-info {
    border-color: var(--fg-color) !important;
    color: var(--navbutton-color) !important;
}
.navbar-toggler-icon{
    border-color: var(--fg-color) !important;
    color: var(--navbutton-color) !important;
}
