/* MAIN PAGE */


/*---------------------------------------------------------------------------*/

html,
body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
}

.bg-purple {
    background-color: purple;
}

.bg-bluecoral {
    background-color: rgb(113, 226, 207);
}


/* Container for all pages and the button bar */

.Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    /*box-shadow: 0px 3px 5px;*/
}

.top-buffer {
    margin-top: 70px;
}

.top-buffer2 {
    margin-top: 30px;
    padding-bottom: 1em;
}

.fill {
    min-height: 100%;
    height: 100%;
}


/* The invisible container which holds all pages that users can choose */

.dynamic {
    width: 100%;
    height: 100%;
}


/* Greensboro AHEC Logo to be displayed on main page */

.AHEC {
    background-image: url('/images/GreensboroAHEC.jpg');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 30% 100%;
    position: relative;
    width: 100%;
    height: 15%;
}


/* CURE background image to be displayed on main page */

.CURE {
    background-image: url('/graphics/home.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 5%;
    width: 100%;
    height: 100%;
}


/* Description of CURE */

.mainpagedesc {
    text-align: center;
    background-color: white;
    /*box-shadow: 0px 3px 5px;*/
    position: relative;
}


/* Holds the hot dial button */

.HotDial {
    z-index: 5;
    position: relative;
    top: 40%;
}


/* Actual hot dial button */

.hotDialButtonClass {
    font-size: 2em;
    background-color: lightblue;
    /*border: none;*/
    border-color: grey;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 4.5em;
    height: 4.5em;
    border-radius: 80%;
    padding: 15px 32px;
    box-shadow: 0px 3px 5px;
    outline: none;
}


/* The invisible container holding every button and the button bar to keep the bar staticly the same */

.TouchBarContainer {
    width: 100%;
}


/* The bar actually holding the buttons */

.TouchBar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    padding: 10px;
    width: 100%;
    /*box-shadow: 0px 3px 5px;*/
    background-color: rgb(3, 197, 3);
    border-top: 2px solid;
}


/* Every button on the button bar in main.html */

.fa-map-marker-alt {
    color: lightblue;
}

.btn-outline-info {
    outline: none;
    border: none;
}

.LocButton {
    width: 4em;
    height: 4em;
    padding: 0px;
    background: transparent;
    background-image: url('/images/arrow1.png');
    background-size: 500%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: auto;
    border: none;
    outline: none;
}

.fa-calendar-alt {
    color: lightblue;
}

.CalButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/calendar2.png');
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}

.fa-home {
    color: lightblue;
}

.HomeButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/1home.png');
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    border-radius: auto;
}

.fa-tasks {
    color: lightblue;
}

.GTButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/goal.png');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}

.fa-book {
    color: lightblue;
}

.EduButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/education.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}

.SettingsButton {
    background: transparent;
    width: 4em;
    height: 4em;
    padding: 0px;
    background-image: url('/images/settings.png');
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: auto;
}


/*----------------------------------------------------------------------------*/


/* HOTDIAL PAGE */


/*----------------------------------------------------------------------------*/


/* Title bar */

.hotdialtitle {
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
}

.hotdialdesc {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}


/* Hotdial container for all buttons */

.hotdialButtons {
    width: 100%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*box-shadow: 0px 3px 5px;*/
    position: relative;
}

.ADDHDButton {
    background: None;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 3em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 1.25em;
    border-width: 0px;
    background-color: white;
    border-color: grey;
    text-align: left;
}


/* Every button inside of hotdial.html */

.GCSTOPButton {
    background: auto;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 3em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 2em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}

.NCHRCButton {
    background: auto;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 3em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 2em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}

.CONEButton {
    background: auto;
    width: 12.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 4.7em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 1.25em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}


/*---------------------------------------------------------------------------*/


/* MAP/LOCATIONS PAGE */


body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}


/* .exampleButtons {
    width: 100%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*box-shadow: 0px 3px 5px;
    position: relative;
}

.exampleButton {
    background: auto;
    width: 12.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 4.7em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 1.25em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
} 

#mapid { 
	height: 180px; 
}

var mymap = L.map('mapid').setView([51.505, -0.09], 13);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'your.mapbox.access.token'
}).addTo(mymap);  */






/*---------------------------------------------------------------------------*/


/* Main container for map page */

.map {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------------------------------------------------------------*/


/* CALENDER PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for calendar page */

.calendar {
    text-align: center;
    height: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    bottom: 0;
    border-width: 15px;
    z-index: 1;
}

.calTitleForm {
    display: flex;
    flex-direction: column;
    position: relative;
}

.startmonth {
    position: relative;
}

.startday {
    position: relative;
}

.startyear {
    position: relative;
}

.endmonth {
    position: relative;
}

.endday {
    position: relative;
}

.endyear {
    position: relative;
}

.startdateselector {
    position: relative;
}

.enddateselector {
    position: relative;
}

.calMessageForm {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.calendarButtonStyle {
    text-align: center;
    background: auto;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    height: 1.8em;
    padding: 0px 23px;
    background-size: 100%;
    background-position: center;
    border-radius: 2em;
    outline: none;
    font-size: 2em;
    border-width: 5px;
    background-color: lightblue;
    border-color: grey;
}


/*---------------------------------------------------------------------------*/


/* GOALTRACKER PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for goaltracker page */

.goaltracker {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    font-size: 20px;
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #25dab2, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-goal input {
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus {
    outline: 1;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: rgb(10, 10, 10);
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
    .search {
        width: 150px;
        clear: both;
    }
    .new-goal input {
        padding-bottom: 5px;
    }
}


/*---------------------------------------------------------------------------*/


/* EDUCATION PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for education page */

.education {
    background-image: url('/images/ed-head.png');
    background-size: 100% 100%;
    width: 100%;
    height: 50%;
    position: fixed;
}

.onlinecourse {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.creditstat {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.spotlight {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.center-of-page {
    top: 60%;
}

.depth1 {
    z-index: 1;
}

.conference {
    background-image: url('/images/header-image2.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 50%;
    position: fixed;
}

.handouts {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.refresher {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.course {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.educationButtons {
    width: 100%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*box-shadow: 0px 3px 5px;*/
    position: relative;
}


/*---------------------------------------------------------------------------*/


/* SETTINGS PAGE */


/*---------------------------------------------------------------------------*/


/* Main container for settings page */

.settingstitle {
    font-size: 2.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 200px;
    justify-content: start;
    color: rgb(70, 67, 67);
}

.settingsdesc {
    font-size: .4em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: rgb(59, 58, 58);
}


/* Settings container for all buttons */

.settingsButtons {
    box-align: start;
    font-size: .5em;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /*box-shadow: 0px 3px 5px;*/
    position: relative;
}


/*---------------------------------------------------------------------------*/